---
# Collection of sample playbook tasks for various Thycotic executions
#   - Simple/generic password

# Example simple plays:
#   - Execute the general secret play
#       ansible-playbook -i hosts --tags generic
- name: simple thycotic examples
  connection: local
  hosts: localhost
  tasks:
      - name: create a generic secret with a password
        tags:
            - generic
        thycotic_secret:
            folder: "test_folder/sub_folder_1"
            secret_name: "my test secret"
            secret_content: "supersecretpassword"
            thycotic_base_url: "https://thycotic.base.url"
            thycotic_wsdl_path: "WebServices/SSWebService.asmx?wsdl"
            thycotic_auth_username: "MyUsername"
            thycotic_auth_password: "auth_password"
            thycotic_auth_domain: "local"
        register: x

      - name: output result
        tags:
            - generic
        debug:
            msg: '{{ x }}'
